<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 <suite name="Suite1" parallel="none" >
  <test name="Test"   >
    <classes>
      <class name="com.redhat.coolstore.NewTest"/>
      <class name="com.redhat.coolstore.CartServiceBoundaryTest"/>
      <class name="com.redhat.coolstore.ProductsObjectMother"/>
    </classes>
 </test>
</suite>
